.cardemp {
  width: 400px;
  background-color: #0e0b2b !important;
}

label {
  color: white;
}

.addForm {
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;
}

.todoHeader {
  font-size: 30px;
  display: inline-block;
}

.addEmployeeForm {
  margin: 0px 10px 10px 10px;
}

.addButton {
  margin-top: 30px;
  float: right;
}


.formStyle {
  padding: 55px
}